<html>
<style>
    div{
        font-size: 2em;
        text-align: center;
        margin-top:100px
    }
</style>
    <body >
        <div>
            <p>К сожалению web-клиент UTrack не совместим с Internet Explorier.</p>
            <p> Пожалуйста, используйте Chrome, Edge, Safary, Firefox, Opera</p>
            <p> либо мобильные версии этих броузеров</p>
        </div>
        <div>
            <p>Unfortunately UTrack don't support Internet Explorier.</p>
            <p> Please, use Chrome, Edge, Safary, Firefox, Opera</p>
            <p> or these brousers mobile versions </p>
        </div>
    </body>
</html>