<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gather web admin</title>
  <style>
    .graphCanvas{
     
      border : 1px solid grey;
    }
  </style>
</head>
<body>
    <div>gather web admin, user:{{user}}</div>
    <div id="container"></div>
    <canvas id="chart" width="400" height="100"></canvas>
</body>
<script src="/js/smoothie.js" ></script> 
<script>
  const SMOOTHE_CONFIG={}
  const NOTPRINTATTRS=['channelType', 'args']
  const NOTTRACKATTRS=['channelType', 'id', 'handler']
  var CHANNELCHART=new Map([])    //список id канала : объекты SmoothieChart 
  
  async function dataRequest(){
        let response = await fetch('/request', {
                            method: 'POST',
                            headers: {'Content-Type': 'application/json'},
                            body: JSON.stringify({type: 'allStateQuerry'})
                            })
        return await response.json()
    }

  function wsConnect(){
    console.log('Socket opening');
    // return new WebSocket("{{ wsserv }}"+"?jjjj");
    return new WebSocket("{{ wsserv }}");
  }

  function wsEvents(){
    ws.onmessage = function(evt) {
            let JsonMsg = JSON.parse(evt.data);
            // console.log(JsonMsg)
            setDataById(JsonMsg)
            
          };
  
    ws.onclose = function(evt) {
        console.log(' Server close connection! No data!')
        //console.log(ws)
        let mbStatus = ' Server close connection! No data!';
    };

    ws.onopen = function(evt) {
        console.log(' Connection ok, receiving data...')
        let mbStatus = ' Connection ok, receiving data...';
        //wsSend(JSON.stringify({type:"msg",data:'hello from utrack client (map)'}))
    };
  } 

  let wsSend = function(data) {
    if(!ws.readyState){
        setTimeout(function (){
            wsSend(data);
        },1000);
    }else{
      ws.send(data);
    }
  };
  
  function setDataById(result){
    function setDatatoElement(id, data){
          let elem= document.getElementById(id)
          if (elem) {
            elem.innerHTML=data
          }
    }

    for (let chType in result){
      for (var i=0; i<result[chType].length; i++){
        for(var attrib in result[chType][i]){
          if (NOTTRACKATTRS.includes(attrib)) continue;
          if (attrib=='args'){
            if (result[chType][i].args!=undefined){
              for (let arg in result[chType][i].args){
                id=result[chType][i].id.toString()+'args'+arg
                data=result[chType][i].args[arg]
                setDatatoElement(id, data)
              }
              continue;
            }
          }
          id=result[chType][i].id.toString()+attrib
          data=result[chType][i][attrib]
          setDatatoElement(id, data)
          if (attrib='result'){
            CHANNELCHART.get(id=result[chType][i].id).seriesSet[0].timeSeries.append(new Date().getTime(), data)         
          }
        }
      }
    }
  }



  function makePage(result){
    // console.log('makePage result-', result)
    let page= document.getElementById('container');
    page.innerHTML='';
    let container=document.createElement('div');
    container.classList=['mainContainer'];
    page.append(container);
    for (let chType in result){
      let channelTypeContainer=document.createElement('div');
      let h=document.createElement('h5');
      h.innerHTML=chType;
      channelTypeContainer.append(h)
      for (var i=0; i<result[chType].length; i++){
        let channelContainer=document.createElement('div');
        channelTypeContainer.append(channelContainer)
        let attribsContainer=document.createElement('div');
        channelContainer.append(attribsContainer)
        for(var attrib in result[chType][i]){
          if (NOTPRINTATTRS.includes(attrib)) continue;
          let attribNameContainer=document.createElement('span');
          attribNameContainer.innerText=attrib+':'
          attribsContainer.append(attribNameContainer)
          let attribContainer=document.createElement('span');
          attribContainer.id=result[chType][i].id+attrib
          attribContainer.innerText=result[chType][i][attrib]
          attribsContainer.append(attribContainer)
          let attribAfterContainer=document.createElement('span');
          attribAfterContainer.innerText=', '
          attribsContainer.append(attribAfterContainer)
        }
        if (chType=='node'){
          let canvas=document.createElement('canvas');
          canvas.id='canvas_'+result[chType][i].id
          canvas.width=parseInt(300);
          canvas.height=parseInt(70);
          let chart = new SmoothieChart({millisPerPixel:60,maxValue:100,minValue:0,horizontalLines:[{color:'#ffffff',lineWidth:1,value:5},{color:'#880000',lineWidth:2,value:60}]});
          chart.streamTo(canvas);
          line=new TimeSeries();
          chart.addTimeSeries(line, { strokeStyle: 'rgba(0, 255, 0, 1)',  lineWidth: 2 });
          channelContainer.append(canvas)
          CHANNELCHART.set(result[chType][i].id, chart);
        };
        if (result[chType][i]['args']!=undefined){
          let argsContainer=document.createElement('div');
          channelContainer.append(argsContainer)
          let argsHeaderContainer=document.createElement('div');
          argsHeaderContainer.innerHTML='arguments:'
          argsContainer.append(argsHeaderContainer);
          for (let arg in result[chType][i]['args']){
            let argContainer=document.createElement('div');
            let argNameContainer=document.createElement('span');
            argNameContainer.innerText='________'+arg+': '
            argContainer.append(argNameContainer)
            let argDataContainer=document.createElement('span');
            argDataContainer.id=result[chType][i].id+attrib + arg;
            argDataContainer.innerHTML=result[chType][i][attrib][arg];
            argContainer.append(argDataContainer)
            channelContainer.append(argContainer)
          }
        }
        // p.innerHTML='id:'+result[t][i].id+' result:<span id='+result[t][i].id +'>'+result[t][i].result+'</span>'
        container.append(channelTypeContainer)
        
      };
    };
    ws=wsConnect()
    wsEvents()
  };

  //запрос первоначального сотояния
  dataRequest().then((result) => {
    makePage(result);
  });
</script>
</html>